body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --tags-header: "DM Sans";

  /* font sizes */
  --tags-header-size: 16px;
  --font-size-4xs-8: 8.8px;
  --font-size-4xs-7: 8.7px;
  --main-header-size: 36px;
  --font-size-4xl-2: 23.2px;
  --h1-size: 48px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
  --color-whitesmoke: #f7f7f7;

  /* Gaps */
  --gap-143xl: 162px;
  --gap-26xl: 45px;
  --gap-smi-2: 12.2px;
  --gap-smi: 13px;

  /* Paddings */
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-31xl: 50px;
}
