.unsplashi6at9f7mwdq-icon {
  position: absolute;
  top: -45px;
  left: 14px;
  width: 1470px;
  height: 979px;
  object-fit: cover;
}
.hero-section-child {
  position: absolute;
  width: calc(100% + 3px);
  top: 0;
  right: 0;
  max-width: 100%;
  overflow: hidden;
  height: 401px;
  object-fit:cover;
  object-position: right
}
.technical-clubs-of {
  margin: 0;
  position: absolute;
  top: 308px;
  left: calc(50% - 289px);
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.frame-child {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 15px;
  height: 15px;
}
.ellipse-parent {
  position: absolute;
  top: 311px;
  left: 661px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  opacity: 0;
}
.frame-wrapper,
.hero-section,
.hero-section-inner {
  position: absolute;
  top: 1px;
  left: 0;
  width: 1440px;
  height: 1196px;
  overflow: hidden;
}
.hero-section,
.hero-section-inner {
  top: 400px;
  left: 26px;
  height: 1197px;
}
.hero-section {
  top: 0;
  left: -26px;
  width: 1466px;
  height: 401px;
  font-size: var(--h1-size);
  color: var(--color-white);
}
.tech-affairs-iiitdm {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.lorem-ipsum-text {
  display: block;
}
.lorem-ipsum-text-container {
  margin: 0;
  position: relative;
  text-align: left;
}
.tech-affairs-iiitdm-parent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.students {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  text-align: center;
}
.link1 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.frame-container,
.frame-group {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  gap: 120px;
  text-align: left;
  font-family: var(--font-inter);
}
.frame-group {
  gap: 579px;
}
.line-div {
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1340px;
  height: 1px;
}
.instagram-icon,
.line-div,
.technical-affairs-iiitdm {
  position: relative;
}
.instagram-icon {
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.instagram-parent {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.technical-affairs-iiitdm-all-parent {
  width: 1329px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 799px;
}
.frame-div {
  width: 1339px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.line-parent {
  flex-shrink: 0;
  gap: 11px;
  text-align: left;
  font-family: var(--font-inter);
}
.footer,
.frame-parent,
.line-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  gap: 126px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  width: 1440px;
  overflow: hidden;
  padding: 50px;
  box-sizing: border-box;
  background-image: url(./public/eventssection@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: var(--color-white);
}
.group-child,
.rectangle-a {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle-a {
  text-decoration: none;
  background: linear-gradient(90deg, #acddf9, #879cfd);
  width: 339px;
  height: 171px;
}
.group-child {
  background-color: var(--color-whitesmoke);
  width: 81px;
  height: 81px;
}
.image-22-icon {
  position: absolute;
  top: 16.2px;
  left: 22.68px;
  width: 37.26px;
  height: 48.6px;
  object-fit: cover;
}
.ellipse-icon,
.rectangle-group {
  position: absolute;
  top: -4.72px;
  left: -5px;
  width: 81px;
  height: 81px;
}
.ellipse-icon {
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  object-fit: cover;
}
.group-parent {
  position: relative;
  border-radius: var(--br-31xl);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  width: 72px;
  height: 72px;
  overflow: hidden;
  flex-shrink: 0;
}
.cs-club {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
}
.cs-club-wrapper,
.frame-parent3 {
  width: 99px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent3 {
  position: absolute;
  top: 25px;
  left: 1px;
  width: 338px;
  align-items: center;
  justify-content: center;
  gap: 12.24px;
}
.vector-icon {
  position: relative;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.instagram-group {
  position: absolute;
  top: 13px;
  left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-26xl);
}
.frame-wrapper1 {
  position: absolute;
  top: 171px;
  left: 0;
  background: linear-gradient(90deg, #acddf9, #879cfd);
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 339px;
  height: 58px;
  overflow: hidden;
}
.rectangle-parent {
  position: relative;
  width: 339px;
  height: 229px;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 72px;
  height: 72px;
}
.image-25-icon {
  position: absolute;
  top: 18px;
  left: 11px;
  width: 50px;
  height: 37px;
  object-fit: cover;
}
.group-div {
  position: absolute;
  top: 0.28px;
  left: 0;
  width: 72px;
  height: 72px;
}
.gdsc-club-wrapper {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 75px;
  height: 75px;
}
.image-24-icon {
  position: absolute;
  top: 15.63px;
  left: 11.46px;
  width: 52.08px;
  height: 43.75px;
  object-fit: cover;
}
.rectangle-parent2 {
  position: absolute;
  top: -1.72px;
  left: -1px;
  width: 75px;
  height: 75px;
}
.frame-parent2 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-143xl);
}
.image-23-icon {
  position: absolute;
  top: 8.73px;
  left: 9.82px;
  width: 53.45px;
  height: 54.55px;
  object-fit: cover;
}
.edc-club-wrapper {
  width: 107px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-27-icon {
  position: absolute;
  top: 14.4px;
  left: 14.4px;
  width: 43.2px;
  height: 43.2px;
  object-fit: cover;
}
.optica-club-wrapper {
  width: 147px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-26-icon {
  position: absolute;
  top: 14.4px;
  left: 11.52px;
  width: 48.58px;
  height: 43.2px;
  object-fit: cover;
}
.mars-club-wrapper {
  width: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child15,
.frame-parent1 {
  position: absolute;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.frame-child15 {
  text-decoration: none;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #acddf9, #879cfd);
  box-sizing: border-box;
  width: 339px;
  height: 171px;
}
.frame-parent1 {
  top: 468px;
  left: 50px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 43px;
  font-size: 23.19px;
  font-family: var(--font-inter);
}
.visuals-from-some {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 1340px;
}
.frame-child21 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 171.38px;
  height: 122.81px;
}
.exhibition {
  position: absolute;
  top: 104.8px;
  left: 12.01px;
  font-weight: 600;
  display: inline-block;
  width: 54.58px;
  height: 10.37px;
}
.unsplashourqhrte2im-icon {
  position: absolute;
  top: 0.41px;
  left: -4.15px;
  width: 188px;
  height: 125px;
  object-fit: cover;
}
.rectangle-parent19 {
  position: absolute;
  top: 0;
  left: 515.15px;
  width: 171.38px;
  height: 122.81px;
  overflow: hidden;
  color: var(--color-black);
}
.unsplashourqhrte2im-icon1 {
  position: absolute;
  top: 0.61px;
  left: -4.15px;
  width: 188px;
  height: 125px;
  object-fit: cover;
}
.rectangle-parent20 {
  position: absolute;
  top: 122.81px;
  left: 515.15px;
  width: 171.38px;
  height: 122.81px;
  overflow: hidden;
  color: var(--color-black);
}
.rectangle-icon,
.unsplashourqhrte2im-icon2 {
  position: absolute;
  top: 1px;
  left: -4px;
  width: 188px;
  height: 125px;
  object-fit: cover;
}
.rectangle-icon {
  top: 0;
  left: 0;
  width: 171px;
  height: 123px;
}
.exhibition2 {
  margin: 0;
  position: absolute;
  top: 105.14px;
  left: 12.05px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 54.76px;
  height: 10.4px;
}
.unsplashourqhrte2im-parent {
  position: absolute;
  top: 245.41px;
  left: 515px;
  width: 172px;
  height: 123px;
  overflow: hidden;
  font-size: 8.76px;
}
.frame-child23,
.unsplashourqhrte2im-icon3 {
  position: absolute;
  top: 0;
  left: -4px;
  width: 354px;
  height: 236px;
  object-fit: cover;
}
.frame-child23 {
  left: -1px;
  width: 340px;
  height: 123px;
}
.unsplashourqhrte2im-group {
  position: absolute;
  top: 245.41px;
  left: 687px;
  width: 341px;
  height: 123px;
  overflow: hidden;
  font-size: 8.76px;
}
.frame-child24,
.unsplashourqhrte2im-icon4 {
  position: absolute;
  top: 0.41px;
  left: -4.54px;
  width: 367px;
  height: 244px;
  object-fit: cover;
}
.frame-child24 {
  top: 0;
  left: 0;
  width: 341.28px;
  height: 244.55px;
}
.seminar {
  margin: 0;
  position: absolute;
  top: 208.68px;
  left: 23.91px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 108.69px;
  height: 20.65px;
}
.unsplashourqhrte2im-container {
  position: absolute;
  top: 1px;
  left: 686.54px;
  width: 341.28px;
  height: 244.55px;
  font-size: 17.39px;
}
.unsplashmxvkwpijals-icon {
  position: absolute;
  top: -64px;
  left: -66px;
  width: 394px;
  height: 597px;
  object-fit: cover;
}
.frame-child25 {
  position: absolute;
  bottom: 0;
  left: -7px;
  width: 319px;
  height: 367px;
  object-fit: cover;
}
.seminar1 {
  margin: 0;
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 99px;
}
.unsplashmxvkwpijals-parent {
  position: absolute;
  top: 1.41px;
  left: 1027px;
  width: 312px;
  height: 367px;
  overflow: hidden;
  font-size: 15.89px;
}
.frame-child26,
.unsplashourqhrte2im-icon5 {
  position: absolute;
  top: 0.41px;
  left: -4px;
  width: 552px;
  height: 368px;
  object-fit: cover;
}
.frame-child26 {
  top: 0;
  left: 0;
  width: 515.15px;
  height: 368.83px;
}
.exhibition4 {
  margin: 0;
  position: absolute;
  top: 327.41px;
  left: 36.09px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 164.06px;
  height: 31.17px;
}
.unsplashourqhrte2im-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 515.15px;
  height: 368.83px;
  overflow: hidden;
  font-size: var(--tags-header-size);
  font-family: var(--tags-header);
}
.frame-parent17 {
  position: relative;
  width: 1339px;
  height: 368.83px;
  text-align: left;
  font-size: 8.73px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.visuals-from-some-events-parent {
  position: absolute;
  top: 1685px;
  left: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  font-size: var(--main-header-size);
}
.navbar-child {
  margin: 0;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  backdrop-filter: blur(20px);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  height: 72px;
}
.home {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
}
.home-parent,
.joy-of-giving-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.joy-of-giving-wrapper {
  border-radius: 5px;
  background: linear-gradient(90deg, #acddf9, #879cfd);
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-3xs) 12px;
}
.home-parent {
  position: absolute;
  top: 14px;
  left: 1014px;
  align-items: center;
  gap: 38px;
}
.tech-affairs-logo {
  position: absolute;
  top: 27px;
  left: 50px;
  font-weight: 600;
  display: none;
}
.image-20-icon {
  position: absolute;
  top: 11px;
  left: 49px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.navbar {
  position: fixed;
  top: 0;
  left: 1px;
  width: 1440px;
  height: 72px;
  text-align: left;
  font-family: var(--font-inter);
}
.home1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2721px;
  overflow: hidden;
  text-align: center;
  font-size: var(--tags-header-size);
  color: var(--color-black);
  font-family: var(--tags-header);
}
