body {
  height: 100vh;
  margin: 0;
  width: 100vw;
  background: #fafafa;
}

.mw-app-container-loader__logo-main {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 75px;
  justify-content: center;
  position: absolute;
  width: 75px;
}

.mw-app-container-loader__logo-main > svg {
  fill: white;
  width: 50%;
  height: 50%;
}

.mw-app-container-loader__logo-main--0 {
  background-color: #28bbbb;
  width: 150px;
  height: 150px;
}

.mw-app-container-loader__logo-main--0 svg {
  width: 70%;
  height: 70%;
}

.mw-app-container-loader__logo-main--1 {
  background-color: #96497b;
  animation-name: north-icon;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes north-icon {
  0% {
    transform: translateY(0px) scale(0);
  }
  15% {
    transform: translateY(-150px) scale(1);
  }
  60% {
    transform: translateY(-150px) scale(1);
    opacity: 1;
  }
  80% {
    transform: translateY(-150px) scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mw-app-container-loader__logo-main--2 {
  background-color: #ffbc45;
  animation-name: east-icon;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes east-icon {
  0% {
    transform: translateX(0px) scale(0);
  }
  15% {
    transform: translateX(0px) scale(0);
  }
  30% {
    transform: translateX(150px) scale(1);
  }
  60% {
    transform: translateX(150px) scale(1);
    opacity: 1;
  }
  80% {
    transform: translateX(150px) scale(1);
    opacity: 1;
  }
  100% {
   opacity: 0;
  }
}

.mw-app-container-loader__logo-main--3 {
  background-color: #0194eb;
  animation-name: south-icon;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes south-icon {
  0% {
    transform: translateX(0px) scale(0);
  }
  30% {
    transform: translateX(0px) scale(0);
  }
  45% {
    transform: translateY(150px) scale(1);
    opacity: 1;
  }
  60% {
    transform: translateY(150px) scale(1);
    opacity: 1;
  }
  80% {
    transform: translateY(150px) scale(1);
    opacity: 1;
  }
  100% {
   opacity: 0;
  }
}

.mw-app-container-loader__logo-main--4 {
  background-color: #f67747;
  animation-name: west-icon;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes west-icon {
  0% {
    transform: translateX(0px) scale(0);
  }
  45% {
    transform: translateX(0px) scale(0);
  }
  60% {
    transform: translateX(-150px) scale(1);
    opacity: 1;
  }
  80% {
    transform: translateX(-150px) scale(1);
    opacity: 1;
  }
  100% {
   opacity: 0;
  }
}

.mw-app-container-loader__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.mw-app-container-loader__orbit-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  animation-name: icon-orbit;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes icon-orbit {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.mw-app-container__content {
  height: 100%;
  width: 100%;
}

.mw-app-container-loader__eyeball {
  align-items: center;
  background-color: #28bbbb;
  border-radius: 50%;
  border: 13px solid white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 44px;
  justify-content: center;
  width: 44px;
  position: absolute;
  animation-name: rotate-eyeball;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes rotate-eyeball {
  0% {
    transform: perspective(75px) rotateX(0deg);
  }
  10% {
    transform: perspective(125px) rotateX(45deg);
  }
  25% {
    transform: perspective(125px) rotateY(45deg);
  }
  40% {
    transform: perspective(125px) rotateX(-45deg);
  }
  55% {
    transform: perspective(125px) rotateY(-45deg);
  }
  70% {
    transform: perspective(125px) rotateY(0);
    transform: perspective(125px) rotateX(0);
  }
}